import React from 'react';

const Person = React.createClass({
  propTypes: {
    name: React.PropTypes.string,
    age: React.PropTypes.number
  },

  render: function () {
    return (
      <div>
        <div>Name: {this.props.name}</div>
        <div>Age: {this.props.age}</div>
      </div>
    );
  }
});

// Will create a prop-type warning
const GordonFreeman = <Person name='Gordon Freeman' age='27' />;

React.render(GordonFreeman, document.getElementById('container'));
