import React from 'react';

const Person = React.createClass({
  render: function () {
    return (
      <div>
        <div>Name: {this.props.name}</div>
        <div>Age: {this.props.age}</div>
      </div>
    );
  }
});

const GordonFreeman = <Person name='Gordon Freeman' age={27} />;

React.render(GordonFreeman, document.getElementById('container'));
